target/
frontend/node_modules/
frontend/docker
*.env
backend/dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr